.register-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .role-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .role-selection button {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ddd;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .role-selection button.active {
    background-color: #3547ac;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  button[type="submit"] {
    background-color: #264fa9;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #246cc4;
  }
  
  