<div class="bg-white text-gray-500 shadow-xl w-full h-[100vh] overflow-hidden">
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2 h-[100vh]">
        <img src="/assets/register.jpg" alt="Register Image" class="object-cover w-full h-full" />
      </div>
  
      <div class=" md:px-10">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
          <div class="mx-10 space-y-4 md:space-y-6 sm:p-8 w-[35vw]">
           
  
            <div class="role-selection">
                <button (click)="toggleRole('student')" 
                        [class.active]="selectedRole === 'student'">
                  <fa-icon [icon]="faStudent"></fa-icon> Student
                </button>
                
                <button (click)="toggleRole('landlord')" 
                        [class.active]="selectedRole === 'landlord'">
                  <fa-icon [icon]="faLandlord"></fa-icon> Landlord
                </button>
              </div>
            <h1 class="text-xl mb-10 font-bold leading-tight text-gray-900 md:text-2xl">
                Sign up as a {{ selectedRole === 'student' ? 'Student' : 'Landlord' }}
              </h1>
            <!-- Registration Form -->
            <form class="space-y-4 md:space-y-6 mt-6">
              <input type="hidden" name="roleId" [value]="selectedRole === 'student' ? '3' : '2'" />
  
              <div class="flex gap-5">
                <div>
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Full Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-input"
                    placeholder="John Doe"
                    required
                  />
                </div>
  
                <div>
                  <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
                  <input
                    type="tel"
                    name="phoneNumber"
                    id="phoneNumber"
                    class="form-input"
                    placeholder="(+212) 0000 00000"
                    required
                  />
                </div>
              </div>
  
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                <input type="email" name="email" id="email" class="form-input" placeholder="example@gmail.com" required />
              </div>
  
              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                <input type="password" name="password" id="password" class="form-input" placeholder="••••••••" required />
              </div>
  
              <button
                type="submit"
                class="w-full bg-blue-600 text-white hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Sign Up
              </button>
            </form>
  
            <p class="text-sm font-light text-gray-500">
              Already have an account?
              <a href="#" class="font-medium text-blue-600 hover:underline">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  