<div class="min-h-screen bg-gray-100 py-8">
    <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold mb-6 text-center">Payment Successful</h1>
      <div *ngIf="paymentSuccess; else paymentError">
        <p class="text-gray-700 text-center">
          Your payment was successful.for the property Booking 
        </p>
      </div>
      <ng-template #paymentError>
        <p class="text-red-500 text-center">
          There was an error updating your booking status. Please contact support.
        </p>
      </ng-template>
    </div>
  </div>