<div class="mt-20 bg-gray-50 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700 shadow-sm">
    <div class="max-w-screen-xl mx-auto px-4 py-3 flex items-center justify-between">
      <!-- Left Side: Links -->
      <div class="flex items-center space-x-6">
        <a href="/property/create" class="text-blue-600 dark:text-gray-300 dark:hover:text-blue-400 font-medium transition-colors duration-200 flex items-center">
          <fa-icon [icon]="faBullhorn" class="mr-2"></fa-icon>
          <span>Annonces</span>
        </a>
        <a href="/landlord/bookings" class="text-blue-600 dark:text-gray-300 dark:hover:text-blue-400 font-medium transition-colors duration-200 flex items-center">
          <fa-icon [icon]="faCalendarCheck" class="mr-2"></fa-icon>
          <span>Booking requests</span>
        </a>
        <a href="/profile" class="text-blue-600 dark:text-gray-300 dark:hover:text-blue-400 font-medium transition-colors duration-200 flex items-center">
          <fa-icon [icon]="faUserCircle" class="mr-2"></fa-icon>
          <span>Compte</span>
        </a>
      </div>
  
      <!-- Right Side: New Announce Button -->
      <div class="flex items-center space-x-2">
        <a href="/property/create" class="text-blue-600 dark:text-gray-300 dark:hover:text-blue-400 font-medium transition-colors duration-200 flex items-center">
          <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
          <span>New Announce</span>
        </a>
      </div>
    </div>
  </div>